@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,400&family=Oswald:wght@400;500;700&display=swap");
/*-----------
  RESET
------------*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*-----------
  GENERAL
------------*/
body {
  margin: 0.375rem;
}
.container {
  max-width: 75rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.container-small {
  max-width: 64rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.container-extra-small {
  max-width: 40rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  margin-left: auto;
  margin-right: auto;
}

.app-wrapper {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background: rgb(0, 179, 235);
  background: linear-gradient(
    135deg,
    rgba(0, 179, 235, 1) 30%,
    rgba(23, 153, 130, 1) 100%
  );

  border-radius: 0.625rem;
  overflow: hidden;
  padding: 1rem;
}

/*-----------
  TYPO
------------*/
body {
  font-size: 1.1rem;
  font-family: "Open Sans", sans-serif;
}
